body {
    background-color: lightgrey;
}

h1 {
    font-weight: bold;
    font-size: 40px;
}

h2 {
    font-weight: bold;
    font-family: Helvetica;
    font-size: 20px;
}

p, li {
    font-family: Helvetica;
    font-size: 14px;
}

.center {
    width:100px;
    margin: 0 auto;
    text-align: left;
}

.image {
    margin-right: 0;
    margin-left: 0;
    overflow: auto;
}

.emphasize {
    font-family: Helvetica;
    font-style: italic;
    font-size: 16px;
}

.normal {
    font-family: Helvetica;
    font-weight: bold;
    font-size: 32px;
}

.repeat {
    font-family: Helvetiva;
    text-align: center;
}