h2, h3, h4, h5, h6 {
	font-family: Verdana;
	color: #2B2B2B
	word-wrap: break-word;
}

a:link {
	color: #2B2B2B;
}

.DC_fontColor {
	color: #2B2B2B;
}

#aboutSpacing {
	line-height: 2;
}

.DC_container-fluid {
  padding-right: 3%;
  padding-left: 3%;
  margin-right: auto;
  margin-left: auto;
}

/*Small Devices*/
@media (max-width: 767px){
	#DC_Home {
		padding-top: 5%;
	}
}

/*Medium Size devices (desktops)*/
@media (min-width: 768px){

	#DC_Home {
		padding-top: 5%;
	}

}