/**************************************
 ************** General ***************
 **************************************/
h2, h3, h4, h5, h6 {
	font-family: Verdana;
	color: #2B2B2B
	word-wrap: break-word;
}

.DC_fontColor {
	color: #2B2B2B;
}

#aboutSpacing {
	line-height: 2;
}

.DC_container-fluid {
	padding-right: 3%;
	padding-left: 3%;
	margin-right: auto;
	margin-left: auto;
}

#footer {
	text-align: center;
	width: 100%;
	height: 5%;
	background-color: transparent;
	padding-top: 95%;
}


/**************************************
 ************** Devices ***************
 **************************************/
/*Small Devices*/
@media (max-width: 767px){
	#DC_Home {
		padding-top: 5%;
	}
}

/*Medium Size devices (desktops)*/
@media (min-width: 768px){

	#DC_Home {
		padding-top: 5%;
	}

}


/**************************************
 ************** Buttons ***************
 **************************************/

.btnDC {
	font-weight: normal;
	color: #2B2B2B;
	cursor: pointer;
	border-radius: 0;
	background-color: transparent;
}
.btnDC,
.btnDC:active,
.btnDC[disabled],
fieldset[disabled] .btnDC {
 	background-color: transparent;
	-webkit-box-shadow: none;
        box-shadow: none;
}
.btnDC,
.btnDC:hover,
.btnDC:focus,
.btnDC:active {
	color: #2B2B2B;
 	border-color: transparent;
}
.btnDC:hover,
.btnDC:focus {
	color: #2a6496;
	text-decoration: underline;
	background-color: transparent;
}
.btnDC[disabled]:hover,
fieldset[disabled] .btnDC:hover,
.btnDC[disabled]:focus,
fieldset[disabled] .btnDC:focus {
	color: #777;
	text-decoration: none;
}